name: Update Data

on:
  push:
    branches: [ master ]
  watch:
    types: [ started ]
  schedule:
    - cron: '*/5 * * * *'

jobs:
  update:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: main

    - name: Checkout OwlAPI
      uses: actions/checkout@v2
      with:
        path: OwlAPI
        repository: OpenCourseAPI/OwlAPI
        ref: e2b28d361a632fdcd4bb50f4af59caaa7e4b847b

    - name: Setup OwlAPI
      working-directory: OwlAPI
      run: |
        sudo pip install pipenv
        pipenv install

    - name: Scrape data through OwlAPI
      working-directory: OwlAPI
      run: pipenv run python3 scrape_term.py

    - name: Copy data
      working-directory: main
      run: |
        rsync -avr ../OwlAPI/db/** data/
        for i in data/*.json; do python3 beautify.py $i; done

    - name: Commit and push changes
      uses: EndBug/add-and-commit@v4
      with:
        cwd: "./main"
        author_name: OwlAPI Bot
        author_email: nonexistent@opencourse.dev
        message: "Update data"
        add: "./data"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
